{% extends 'realbeast/base.html' %}

{% block title %}Realbeast - Sign in{% endblock %}


<!-- Page specific style for inherited elements-->

{% block content %}

{% block style %}

<style>
  .uinfo {
    font-family: var(--monospace);
  }
  
</style>
{% endblock %}
{% if user.is_authenticated %}

<!-- Load their information from database -->


<div class="uinfo"> 
  <h2>Hello, {{ user.first_name }} {{ user.last_name}}!</h2>

  <ul>
    <li>Username: {{user.username}}</li>
    <li>Email address: {{user.email}}</li>
    <li>Total rewards:{{user.profile.total_rewards}}</li>
  </ul>
  
</div>

{% else %}
<!-- templates/registration/login.html -->
<h2 class="title">Log In</h2>
<form class="login-form" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>

{% endif %}

{% endblock %}