{% extends 'realbeast/base.html' %}

{% block title %}Realbeast - Sign in{% endblock %}


<!-- Page specific style for inherited elements-->

{% block content %}

{% block style %}

<!-- Use local files -->
{% load static %}

<style>
  .uinfo {
    font-family: var(--monospace);
    text-align: center;
    width: 30%;
  }
  .uinfo h2 {
  text-align: center;
  font-family: Overpass;
  font-size: 1.5rem;
}
  .login-form {
    font-family: var(--monospace);
  }

  .title {
    font-family: Overpass;
  }

  .form-group {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 0.6rem;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    text-align: left;
  }

  #submit {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: Overpass;
    padding: 0.3rem;
  }

  #restockImg {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }

  .restock{
    text-align: left;
  }

  #restockForm {
    display:inline-block;
    width: 50%;
    text-align: center;
    margin-left: 10%;
    vertical-align: middle;
  }

  #restockSubmit {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: Overpass;
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  
  }

  #restockSubmit:hover {
    background-color: black;
    color:white;
  }


</style>
{% endblock %}
{% if user.is_authenticated %}

<!-- Load their information from database -->

{% if user.is_superuser %} 


<div class="uinfo">
  <h2>Hey, {{ user.first_name }}!</h2>

    <div class= "restock">

      <img id = "restockImg" src="{% static 'realbeast/icons/warehouse.svg' %}"/>
      
      <form action="{%url 'realbeast:restock' %}" id="restockForm">
        <button type="submit" id = "restockSubmit"> Restock </button>
      </form>

    </div>

  


  

  <form class="form-group" action="{% url 'realbeast:update_user_info' user.id %}" method="post">
    {% csrf_token %}

    <!-- user information inputs here -->
    <label for="username">Username</label>
    <input type="text" id="username" name="username" maxlength="30" value="{{user.username}}" required>

    <label for="username">First name</label>
    <input type="text" id="firstname" name="firstname" maxlength="30" value="{{user.first_name}}" required>

    <label for="username">Last name</label>
    <input type="text" id="lastname" name="lastname" maxlength="30" value="{{user.last_name}}" required>


    <label for="email">Email address</label>
    <input type="text" id="email-id" name="email" maxlength="30" value="{{user.email}}" required>

    <label for="address">Shipping address</label>
    <input type="text" id="address" name="address" maxlength="30" value="{{user.profile.address}}" required>


    <label for="address">Phone</label>
    <input type="text" id="phone" name="phone" maxlength="10" value="{{user.profile.phone_number}}" required>
    <input id="submit" type="submit" value="Update">

  </form>


<h2>Other information:</h2>
  <ul>
    <li>Total rewards:{{user.profile.total_rewards}}</li>
    <li><a href="/accounts/password_change">Change your password</a></li>
  </ul>

  <form action="/accounts/logout">
    <input id="submit" type="submit" value="Logout">
  </form>

</div>

{% else %}


<div class="uinfo">
  <h2>Hey, {{ user.first_name }}!</h2>

  <form class="form-group" action="{% url 'realbeast:update_user_info' user.id %}" method="post">
    {% csrf_token %}

    <label for="username">First name</label>
    <input type="text" id="firstname" name="firstname" maxlength="30" value="{{user.first_name}}" required>

    <label for="username">Last name</label>
    <input type="text" id="lastname" name="lastname" maxlength="30" value="{{user.last_name}}" required>


    <label for="email">Email address</label>
    <input type="text" id="email-id" name="email" maxlength="30" value="{{user.email}}" required>

    <label for="address">Shipping address</label>
    <input type="text" id="address" name="address" maxlength="30" value="{{user.profile.address}}" required>


    <label for="address">Phone</label>
    <input type="text" id="phone" name="phone" maxlength="10" value="{{user.profile.phone_number}}" required>
    
    
    <label for="address">Card Number</label>
    <input type="text" id="card_no" name="card_no" maxlength="30" value="{{user.profile.card_no}}" required>

    
    <input id="submit" type="submit" value="Update">



  </form>


<h2>Other information:</h2>
  <ul>
    <li>Total rewards:{{user.profile.total_rewards}}</li>
    <li><a href="/accounts/password_change">Change your password</a></li>
  </ul>

  <form action="/accounts/logout">
    <input id="submit" type="submit" value="Logout">
  </form>

</div>


{% endif %}

{% else %}

<!-- templates/registration/login.html -->
<div class="uinfo">
<h2>Please sign in</h2>
<p>Signing in gives you access to the latest deals, editing your account and more!</p>
<form class="form-group" action="{% url 'realbeast:my_login' %}" method="post">
  {% csrf_token %}
  <label for="username">Username</label>
  <input type="text" id="username" name="username" maxlength="30" placeholder="username" required>

  <label for="password">Password</label>
  <input type="password" id="password" name="password" maxlength="100" placeholder="password" required>

  <button id="submit" type="submit" >Log In</button>
</form>

<p>Don't have an account? <a href="/realbeast#registration">Sign up.</a></p>

</div>

{% endif %}

{% endblock %}