{% extends 'realbeast/base.html' %}

{% block title %}Realbeast - Cart{% endblock %}
<!-- Local files-->
{% load static %}

{% block style %}

<style>
  table {
    font-size: 1.2rem;
    width: 60%;
    border: 1px solid black;
    text-align: center;
    margin:auto;
    margin-top:1.2rem;
    margin-bottom:1.2rem;

  }

  th {
    font-family: Overpass;
    border: 1px solid black;
    margin-top:1.2rem;
    margin-bottom:1.2rem;

  }
  td {
    font-family: var(--monospace);
    border: 1px solid black;

  }
  .table-text {
    padding: 0.9rem;
  }
  #product-img {
      padding:0;
      width: 150px;
      height:auto;
  }

  .form-group {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;

  }
  #submit {
    padding: 10px;
    margin-top: 20px;
  }

  #to-checkout {
    font-family: Overpass;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #to-checkout h2 {
    text-align: center;
    margin-bottom: 0;
  }

  #checkout-row {
    width: 260px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  #checkout-row p {
    font-family: var(--monospace);
  }

  #page-title {
    width: 50%;
    font-family: Overpass;
    text-align: left;
  }

</style>
{% endblock %}

{% block content %}

<h2 id="page-title">Welcome to your cart:</h2>

<table>
    <tr>
      <th>Item</th>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
    {% for item in cart_items %}
      <!-- each store that carries it, along with the amount/sizes they have-->
    <tr>
     <td><img id="product-img" src="{% static ''%}realbeast/product_images/{{item.product.img_name}}"/></td>
     <td class="table-text">{{item.product.name}}</td>
     <td class="table-text">{{item.quantity}}</td> <!-- add quantity editor-->
    </tr>
    {% endfor %}
    
  </table>

  <!-- Add a checkout form -->
<div id="to-checkout">
    <h2>Ready to complete your order?</h2>

      <div id="checkout-row">
        <p>Subtotal:<p>
        <p id="price">19.99</p>
      </div>
      
      <div id="checkout-row">
        <p>Taxes:<p>
        <p id="price">19.99</p>
      </div>
      <div id="checkout-row">
        <p>Shipping:<p>
        <p id="price">19.99</p>
      </div>
      <div id="checkout-row">
        <p>Grand Total:<p>
        <p id="price">19.99</p>
      </div>
  <form>
    <input type="submit" id="submit" value="Checkout">
  </form>

</div>

{% endblock %}