{% extends 'realbeast/base.html' %}

{% block title %}Realbeast - {{product.name}}{% endblock %}
<!-- Local files-->
{% load static %}

{% block style %}
<style>
  
  
  #product-img {
    width:100%;
    
  }
  

  #product {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #product-main {
    width :60%;
    display: grid;
    grid-template-areas:
      "title title"
      "image content"
      "caption caption";
    grid-template-columns: 70% 30%;
    
  }
  
  #product figcaption {
    font-family: var(--monospace);
    font-size: 0.7rem;
  }
  
  #product-text {
    grid-area: content;
    justify-self: start;
    text-align:left;
    width: 100%;
    font-family: var(--monospace);
    font-size: 0.8rem;
    line-height: 1.5em;
    /*display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;*/
  }
  #product-text #price {
    font-size: 1.5rem;
  }
  #product-title {
    grid-area: title;
    font-family: Overpass;
  }
  #product-sizes {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  table {
    font-size: 1.2rem;
    width: 60%;
    border: 1px solid black;
    text-align: center;
    margin:auto;
    margin-top:1.2rem;
    margin-bottom:1.2rem;

  }

  th {
    font-family: Overpass;
    border: 1px solid black;
    margin-top:1.2rem;
    margin-bottom:1.2rem;

  }
  td {
    font-family: var(--monospace);
    border: 1px solid black;
    padding: 0.7rem;
  }

  #out-of-stock {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Overpass;
  }
  #out-of-stock img {
    width: 2.5rem;
    margin-right: 0.5rem;
  }

  .form-group {
    padding-top: 10px;
    grid-area: content;
    display: flex;
    flex-direction: row;
    width:80%;
    flex-wrap: nowrap;
    justify-content:center;
  }

  #quantity {
    width:30%;
    padding:11px;
  }
  #submit{
    width:50%;
    padding:10px;
  }

</style>
{% endblock %}
{% block content %}
<section id="product">
    <div id="product-main">
    <h1 id="product-title">{{product.name}}</h1>
      <figure>    
        <img id="product-img" src="{% static ''%}realbeast/product_images/{{product.img_name}}"/>
        <figcaption>{{product.caption}}</figcaption>
        
      </figure>

    <div id="product-text">
      <!-- form for sizing-->
      <p id="price">${{product.price}}</p>
      
      <p>{{product.description}}</p>

      {% if instock %} <!--change to check if in stock online -->
      <form class="form-group" action="{% url 'realbeast:add_to_cart' product.id %}"" method='post'>
        {% csrf_token %}
        <!-- only need a submit! -->
        <input type="number" id="quantity" name="quantity"max="99" min="1" required value="1">
        <!-- add a size field -->

        <!-- 
        <label> <radio checked></radio></label>
        -->

        <!-- Add a color field -->

        <!-- maybe add a quantity field?-->
        <input type="submit" id="submit"  value="Add to Cart">
      </form>
      {% endif %}
     </div>
    </div>
  </section>

  <section id="product-sizes">

    <!-- we want to have: each store's amount of the product in each size-->
    {% if instock %}
    <table>
      <tr>
        <th>Store</th>
        <th>Size</th>
        <th>Quantity</th>
      </tr>
      {% for store in stores %}
        <!-- each store that carries it, along with the amount/sizes they have-->
      <tr>
       <td>{{store.location}}</td>
       <td>{{store.quantity}}</td>
       <td>{{store.size}}</td>
      </tr>
      {% endfor %}

    </table>
    {% else %}
    <div id="out-of-stock">
      <img src="{% static 'realbeast/icons/warning.svg' %}">
      <h2>Currently out of stock.</h2>
    </div>

    {% endif %}
  </section>

  <!-- if user is authenticated, add an 'edit' button so that products editable by staff-->
  {% if user.is_staff %}

  <form>
    <input type="submit" value="Edit">
  </form>

  {% endif %}

{% endblock %}
