{% extends 'realbeast/base.html' %}

{% block title %}Restock{% endblock %}


<!-- Page specific style for inherited elements-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% block content %}

{% block style %}

<style>

    #product-listing {
        height: 10%;
        text-align: left;
    }

    #product-img {
        width: 30%;
        
    }

    #stockInfo {
        display: inline-block;
        text-align: center;
        overflow: auto;
        height:485px;
        width:25%;
        margin-left: 5%;
        margin-right: 5%;
    }


    #stock {
        font-family: var(--monospace);
        text-align: left;
        vertical-align: middle;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 10%;
        margin-left: 10%;
    }

    #noStock {
        margin-bottom: 20%;
        margin-top: 20%;
    }

    #items {
        margin-bottom: 5%;
        margin-top: 5%;
    }
    
    #selection {
        display: inline-block;
        height:auto;
        width:10%;
        margin-left: 5%;
        margin-right: 5%;
    }





</style>


{% endblock %}

<!-- Use local files -->
{% load static %}

{% if user.is_authenticated %}


{% if user.is_superuser %}


<h1>Send a restock order!</h1>


    <!-- add links on each image to the item's page-->
  
    <!-- use a similar for-loop to what's in the old templates/realbeast/index.html to generate a grid item for it in the product-container using the format already laid out-->


    
    {% for product in products %}
    <div id="product-listing">
      <figure>
        <figcaption id="product-title">{{product.prod.name}}</figcaption>

          <img id="product-img" src="{% static ''%}realbeast/product_images/{{product.prod.img_name}}" />

          <div id="stockInfo">
            
            <div style="font-family: Overpass;">
                <u>Current Stock</u>
            </div>
                
            {% for sizes in product.product_sizes %}

            
            <div id="stock">

                <div id="items">
                    Location: {{sizes.store_id}} 
                    
                </div>

                <div id="items">
                    Size: {{sizes.size}} 

                </div>

                <div id="items">
                    Quantity: {{sizes.quantity}}    
                </div>
                

            </div>

            {%empty%}

            <div id="noStock"> 

                None in stock

            </div>

            {% endfor %}



          </div>

      </figure>

      </form>
  
      <!-- <div id="product-desc">
        <p id="price">{{ product.name }}</p>
      </div>
    </div> -->
    {% endfor %}

    <form action="{% url 'realbeast:restockItems'%}" method="POST">
        {% csrf_token %}
        <select name="merch" id="merch">
            {% for product in products %}
            <option value="{{product.prod.id}}">{{product.prod.name}}</option>
            {% endfor %}
        </select>

        <select name="Location" id="location">
            {% for store in stores %}
            <option value="{{store}}">{{store.location}}</option>
            {% endfor %}
        </select>

        <label for="small">Small</label>
        <input type="radio" name="sizeSelect" id="small" value="S" checked>
        <label for="medium">Medium</label>
        <input type="radio" name="sizeSelect" id="medium" value="M">
        <label for="large">Large</label>
        <input type="radio" name="sizeSelect" id="large" value="L">

        <select name="quantities" id=quantities">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        </select>

        <button type="submit">Send Restock Order</button>
        
    </form>
  
  


{% else %}

<h1>Whoops, you shouldn't be here!</h1>


{% endif %}

{% else %}

<h1>Whoops, you shouldn't be here!</h1>

{% endif %}

{% endblock %}

